html, body {
  font-size: 25%;
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


.piano--div {
  border: 1px solid black;
}

.white,
.black {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 0;
}

.white:hover {
  background-color: gray
}

.black:hover {
  background-color:gray
}


.piano--div div:first-child {
  border-left: none;
}


.white {
  height: 12.5rem;
  width: 3.5rem;
  z-index: 1;
  border-left: 1px solid hsl(0, 0%, 73%);
  border-bottom: 1px solid hsl(0, 0%, 73%);

}

.black {
  height: 8rem;
  width: 2rem;
  margin: 0 0 0 -1rem;
  z-index: 2;
  border: 1px solid black;
  background-color: black
}

.offset {
  margin: 0 0 0 -1rem;
}

.chosen {
  background-color: darkgreen;
}

.slider--div {
  margin-top: 20px;
  width: 200px;
}
